<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="dbAndritz" connectionString=".;Initial Catalog=dbAndritz2021;Integrated Security=sspi" />
    <add name="Andritz.MyDBApp.My.MySettings.andritzDB" connectionString="initial catalog=dbAndritz2021;integrated security=true" />
  </connectionStrings>
  </configuration>